@{
    Layout = "Shared/_Layout.cshtml";
}

<ul class="collapsible" data-collapsible="accordion">
    @foreach(var stylist in Model)
    {
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>@stylist.GetName()</div>
            <div class="collapsible-body">
                <form action="/stylists/@stylist.GetId()/clients" method="get">
                    <button type="submit" name="button">Get Clients</button>
                </form>
                <form action="/stylists/@stylist.GetId()/delete" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn">Delete Stylist</button>
                </form>
            </div>
        </li>
    }
</ul><br>
<div class="row">
    <form class="col s6" action="/stylists" method="post">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="name" class="validate">
                <label for="name">Stylist Name</label>
            </div>
        </div>
    </form>
</div>
